<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!-- Vue using CDN -->
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    table{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body onload="getlanguages()">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #05c8f7;"
    aria-label="Second navbar example">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="billbuddy.html">BillBuddy</a>
          </li>
        </ul>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <img src="..\logo\itiner-easy.svg" style="width: 100px; height: 100px; margin-top: -15px;"
            alt="itiner-easy logo">
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link rounded"
              style="background-color: white; color: #05c8f7; padding-left: 20px; padding-right: 20px;"
              href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">

                <div class= "col-4"style="margin-left: 15px; margin-top: 15px;">
                    <h3>Weather Forecast</h3>
                    <h7>Which city are you heading to?</h7>
                    <br><br><br>
                    <input type="text" id="country" name="country" placeholder="City" >
                    <br><br>
                    <button onclick="getforecast()">Get Forecast</button>
                <div id="treedayforecast">


                </div>
                </div>

                <div class="col-4" style="margin-left: 15px; margin-top: 15px;">
                    <h3>Language Translator</h3>
                    <h7>Which language do you want to transalte to?</h7>
                    <br><br><br>
                    <label for="languages">List of Languages:</label>
                        <select name="language" id="languages">

                        </select>
                    <br><br>
                    <label for="text">Text to translate:</label>
                    <br>
                    <textarea id="text" name="text" rows="4" cols="50" onchange="translateit()"></textarea>
                    <br><br>
                    <button onclick="translateit()">Translate</button>
                    <br><br>

                    <div id="translatedtext">
                    </div>
                </div>
                <div class="col-4" style="margin-left: 15px; margin-top: 15px;">
                    <h3>Currency Converter</h3>
                    <h7>Which Currency do you want to convert to?</h7>
                    <br><br><br>
                    <label for="currencylist">Which currency are you using?</label>
                        <select name="currencylist" id="currencylist">

                        </select>
                    <br><br>
                    <label for="text">Amount</label>
                    <br>
                    <h7>Converted amount</h7>
                    <br><br><br>
                    <br><br>
                    <label for="text">Amount</label>
                    <br>
                    <input type="number" name="moneymoneyahhhhh" onchange="converit()"></input>
                    <br><br>
                    <button onclick="converit()">Convert</button>
                    <br><br>

                    <div id="convertedmoney">
                        
                    </div>
                </div>







</div>




  <script>
    function getforecast(){
        var country = document.getElementById("country").value;
        console.log(country);
        key ="cfb27632a44746f6aaf01356231409";
        axios.get('http://api.weatherapi.com/v1/forecast.json?key='+key+'&q='+country+'&days=3')
        .then(function(response) {
            console.log(response.data);
            var weather = response.data.forecast.forecastday;
            var weatherarray = [];
            for(var i=0;i<weather.length;i++){
                var weatherobj = {};
                weatherobj.date = weather[i].date;
                weatherobj.maxtemp = weather[i].day.maxtemp_c;
                weatherobj.mintemp = weather[i].day.mintemp_c;
                weatherobj.avgtemp = weather[i].day.avgtemp_c;
                weatherobj.condition = weather[i].day.condition.text;
                weatherarray.push(weatherobj);
            }
            console.log(weatherarray);
            var weatherdiv = document.getElementById("treedayforecast");
            var html =""
            html = "<table><tr><th>Date</th><th>Max Temp</th><th>Min Temp</th><th>Avg Temp</th><th>Condition</th></tr>";
            for(var i=0;i<weatherarray.length;i++){
                html += "<tr><td>"+weatherarray[i].date+"</td><td>"+weatherarray[i].maxtemp+"</td><td>"+weatherarray[i].mintemp+"</td><td>"+weatherarray[i].avgtemp+"</td><td>"+weatherarray[i].condition+"</td></tr>";
            }
            html += "</table>";
            weatherdiv.innerHTML = html;



        })

    }
    function getlanguages(){
        var key ="AIzaSyCjKtOTNCtEK5MYtW-GrP5QUiCj72PCT9Q";
        //googlecloudtranslator api
        axios.get('https://translation.googleapis.com/language/translate/v2/languages?key='+key+'&target=en')
        .then(function(response) {
            console.log(response.data);
            var languages = response.data.data.languages;
            var languagesdiv = document.getElementById("languages");
            var html = "";
            for(var i=0;i<languages.length;i++){
                html += "<option value="+languages[i].language+">"+languages[i].name+"</option>";
            }
            languagesdiv.innerHTML = html;
        })
    }
    function translateit(){
        var text = document.getElementById("text").value;
        var language = document.getElementById("languages").value;
        console.log(text);
        console.log(language);
        var key ="AIzaSyCjKtOTNCtEK5MYtW-GrP5QUiCj72PCT9Q";
        axios.get('https://translation.googleapis.com/language/translate/v2?key='+key+'&q='+text+'&target='+language)
        .then(function(response) {
            console.log(response.data);
            var translatedtext = response.data.data.translations[0].translatedText;
            console.log(translatedtext);
            var textdiv = document.getElementById("translatedtext");
            textdiv.innerHTML = translatedtext;
        })
    }

  </script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>


</body>
</html>