
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    City<input type="text" id="country" name="City">
    From<input type="date" id="from" name="From">
    To<input type="date" id="to" name="To">
</br>

    Indoor or outdoor
</br>
<input type="radio" id="preferences" name="outgoing" value="Indoor"> Indoor
    <input type="radio" id="preferences" name="outgoing" value="Outdoor"> Outdoor
</br>
    Mode of Transport</br> <input type="radio" id="transport" name="Transport" value="Car">Car
    <input type="radio" id="transport" name="Transport" value="Public Transport">Public Transport
    <input type="radio" id="transport" name="Transport" value="Walking"> Walking
</br>
    <button onclick="generateitinerary()">Generate Itinerary</button>

</body>

<script>
    
    function generateitinerary(){
        var city = document.getElementById("country").value;
        var from = document.getElementById("from").value;
        var to = document.getElementById("to").value;
        var preferences = document.querySelector('input[name="outgoing"]:checked').value;
        var transport = document.querySelector('input[name="Transport"]:checked').value;
        console.log(city);
        console.log(from);
        console.log(to);
        console.log(preferences);
        console.log(transport);
        //get day difference between from and to dates
        var date1 = new Date(from);
        var date2 = new Date(to);
        var Difference_In_Time = date2.getTime() - date1.getTime();
        var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
        //api to get the weather
        key ="cfb27632a44746f6aaf01356231409";
        axios.get('http://api.weatherapi.com/v1/forecast.json?key='+key+'&q='+city+'&days=3'+Difference_In_Days)
        .then(function (response) {
            console.log(response.data);
            var weather = response.data.forecast.forecastday;
            var weatherarray = [];
            for(var i=0;i<weather.length;i++){
                var weatherobj = {};
                // weatherobj.date = weather[i].date;
                // weatherobj.maxtemp = weather[i].day.maxtemp_c;
                // weatherobj.mintemp = weather[i].day.mintemp_c;
                // weatherobj.avgtemp = weather[i].day.avgtemp_c;
                // weatherobj.condition = weather[i].day.condition.text;
                weatherarray.push(weather[i].day.condition.text);
            }
            console.log(weatherarray);



    })}
</script>
</html>